UnipagoAPP/unipagoapp/ServicioCliente/src/main/java/com/unipago/pruebadesarrollador/client/employee/EmployeeService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.pruebadesarrollador.unipago.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="EmployeeService" targetNamespace="http://service.pruebadesarrollador.unipago.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.pruebadesarrollador.unipago.com/" elementFormDefault="unqualified" targetNamespace="http://service.pruebadesarrollador.unipago.com/" version="1.0">

  <xs:element name="delete" type="tns:delete"/>

  <xs:element name="deleteResponse" type="tns:deleteResponse"/>

  <xs:element name="find" type="tns:find"/>

  <xs:element name="findAll" type="tns:findAll"/>

  <xs:element name="findAllResponse" type="tns:findAllResponse"/>

  <xs:element name="findResponse" type="tns:findResponse"/>

  <xs:element name="save" type="tns:save"/>

  <xs:element name="saveResponse" type="tns:saveResponse"/>

  <xs:complexType name="find">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:employee"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" type="xs:string"/>
      <xs:element minOccurs="0" name="bornDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="department" type="tns:department"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="gender" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="phoneNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="salary" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="department">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="employees" nillable="true" type="tns:employee"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="inchargeName" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="vicePresidency" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="delete">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:employee"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="findAll">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="findAllResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:employee"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="save">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:employee"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:employee"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="find">
    <wsdl:part element="tns:find" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part element="tns:deleteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveResponse">
    <wsdl:part element="tns:saveResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="delete">
    <wsdl:part element="tns:delete" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAll">
    <wsdl:part element="tns:findAll" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAllResponse">
    <wsdl:part element="tns:findAllResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findResponse">
    <wsdl:part element="tns:findResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="save">
    <wsdl:part element="tns:save" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EmployeeService">
    <wsdl:operation name="find">
      <wsdl:input message="tns:find" name="find">
    </wsdl:input>
      <wsdl:output message="tns:findResponse" name="findResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input message="tns:delete" name="delete">
    </wsdl:input>
      <wsdl:output message="tns:deleteResponse" name="deleteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAll">
      <wsdl:input message="tns:findAll" name="findAll">
    </wsdl:input>
      <wsdl:output message="tns:findAllResponse" name="findAllResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="save">
      <wsdl:input message="tns:save" name="save">
    </wsdl:input>
      <wsdl:output message="tns:saveResponse" name="saveResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeeServiceSoapBinding" type="tns:EmployeeService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="find">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="find">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="delete">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAll">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findAll">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findAllResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="save">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="save">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="saveResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeService">
    <wsdl:port binding="tns:EmployeeServiceSoapBinding" name="EmployeeServicePort">
      <soap:address location="http://localhost:8080/servicioweb/EmployeeService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>